<h1>{{.Title}} {{.PlayerName}}</h1>

<form action="/draw/{{.PlayerName}}" method="POST">
    <div><input type="submit" value="Draw"></div>
</form>

<form action="/play/{{.PlayerName}}" method="POST">
    <div>
      <label for="cardnameID">Card name:</label>
      <input type="text" id="cardnameID" name="cardname" />
    </div>
    <div><input type="submit" value="Play"></div>
</form>

<div>Player: {{printf "%s" .Body}}</div>

{{ if .Briscola }}
<div>Briscola: {{printf "%s" .Briscola}}</div>
{{ end }}

{{ if .Board }}
<div>Board: {{printf "%s" .Board}}</div>
{{ end }}